@{
    ViewData["Title"] = "Team List";
}

@model List<Team>


<table class="table table-striped table-bordered">
    <tr>

        <th>Team Name</th>
        <th>Captain</th>
    </tr>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@team.TeamName</td>
            </tr>
        }
    </tbody>
</table>

